# blacklist everything
/*

# setup directory
!/.setup

# add bash scripts directory
!/.bin

# add emacs config directory
!/.emacs.d

# terminator config file
!/.config
/.config/*
!/.config/terminator
/.config/terminator/*
!/.config/terminator/config

# whitelist other files
!.gitignore
!/.bashrc_additions
!README.md