/*
Live Preview Mode CSS changes:
https://publish.obsidian.md/hub/04+-+Guides%2C+Workflows%2C+%26+Courses/Guides/How+to+update+your+plugins+and+CSS+for+live+preview#For+Theme+Developers
*/

.cm-s-obsidian .cm-cursor {
  background-color: #00ff78 !important;
  border-left-width: 0.4em !important;
  opacity: 60% !important;
}
