[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/MATLAB/R2016b/bin/matlab -desktop
Name=MATLAB
Icon=matlab_icon
Categories=Development;Math;Science;
Comment=Scientific computing environment
StartupNotify=true
StartupWMClass=com-mathworks-util-PostVMInit
