[Desktop Entry]
Name=StarUML
Type=Application
Exec=/opt/staruml/staruml
Terminal=false
Icon=/opt/staruml/appshell256.png
Comment=UML Modelling Tool
NoDisplay=false
Categories=Development;
Name[en]=StarUML
